name: build
on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        go-version: [ 1.21.5 ]
    runs-on: self-hosted
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Download Go modules
        run: go mod download

      - name: Build
        run: go build -v ./...
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test
        run: CGO_ENABLED=1 GOEXPERIMENT=loopvar go test -race ./...
        with:
          go-version: ${{ matrix.go-version }}

